// COLORS
$color-primary: #000;

$color-secondary: #ffd500;

$color-grey-light-1: #b7b7b7;
$color-grey-light-2: #93928e;

$color-grey-dark-1: #434343;
$color-grey-dark-2: #61615e;

$color-white: #fff;

//FONT SIZES
$default-font-size: 1.6rem;
